:host {
    .title {
        font-size: 20px;
        font-weight: 500;
        color: white;
    }

    mat-toolbar {
        background-color: rgb(18, 91, 115);
    }

    .spacer {
        flex: 1 1 auto;
    }

    mat-form-field {
        margin-right: 16px;
        margin-top: 20px;
    }

    mat-icon {
        font-size: 24px;
    }

    button {
        margin-left: auto;
    }
}