<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <mat-form-field color="accent">
      <input matInput [formControl]="username" placeholder="Username" (keyup.enter)="login()">
      <mat-error *ngIf="username.hasError('required')">Please provide a username</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [disabled]="username.invalid" [class.disabled]="username.invalid" (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>